@font-face {
  font-family: HelveticaNeue;
  src: url(fonts/HelveticaNeue\ Light.ttf);
}

body {
  background-color: #f0f2f5;
  margin: 0;
  font-family: HelveticaNeue;
  font-family: HelveticaNeue;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
